<h1>Blogs</h1>
<div class="container">

    <% @blogs.each do |blog| %>
    <div class="row">
      <div class="col-sm-4">
        <h2 class="show-h2"><%= blog.name %></h2>
        <td><%= blog.description %></td>
      </div>
      <div class="col-sm-6">
        <%= image_tag(blog.image_url, class: "img-responsive", width: '100%') %>
      </div>
      <div class="col-sm-2">
        <strong>Rating</strong><br>
        <br>


        <p><%= blog.price %></p>
      </div>
  </div>

      <div class="links">
        <%= link_to 'Show', blog %>
        <%= link_to 'Edit', edit_blog_path(blog) %>
        <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>

        <%= link_to 'New Blog', new_blog_path %>
</div>
